@import "tailwindcss";

.logo {
  height: 6em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.25));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@layer components {
  header {
    @apply grid grid-cols-12;
  }
  .logo {
    @apply col-span-6;
  }

  nav.menu {
    @apply col-span-4 font-bold;
  }

  .cta {
    @apply col-span-2;
  }
}
