@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu");
@import "tailwindcss";

body {
  margin: 0 auto;
  max-width: 1280px;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  justify-content: center;
}

@theme {
  /* Fonts */
  --font-sora: "Sora", sans-serif;
  --font-sourcesans: "Source Sans 3", sans-serif;

  --default-font-family: var(--font-sourcesans);
  --default-mono-font-family: var(--font-sora);

  /* Brand Colors */
  --color-primary: #27445d;
  /* Trust, professionalism */
  --color-secondary: #50c878;
  /* Support, solutions */
  --color-black: #353535;
  /* Main text */
  --color-light: #e7f3fc;
  /* Light tech background */
  --color-neutral: #e9e9e9;
  /* Neutral background */
  --color-white: #f0f0f0;

  /* Accent & UI */
  --color-success: #50c878;

  /* Hero / Featured sections */
  --color-gradient-hero: linear-gradient(135deg, #50c878 0%, #3fae7f 40%, #27445d 100%);

  /* Header-Footer Gradient */
  --color-gradient-header: linear-gradient(135deg, #50c878 0%, #27445d 80%);

  /* Primary CTA Buttons */
  --color-gradient-cta: linear-gradient(90deg, #50c878 0%, #46b87a 100%);

  /* Light section background */
  --color-gradient-light: linear-gradient(180deg, #e7f3fc 0%, #ffffff 100%);

  /* Headings */
  /* 56px – Hero headline */
  --text-h1: 3.5rem;

  /* 36px – Section titles */
  --text-h2: 2.25rem;

  /* 24px – Subsections */
  --text-h3: 1.5rem;

  /* Body */
  /* 16px – Paragraphs */
  --text-body: 1rem;

  /* 18px – Emphasized text */
  --text-body-lg: 1.125rem;

  /* UI */
  /* 16px */
  --text-button: 1rem;
}

@layer components {
  #root {
    @apply px-4 py-2 md:px-16 bg-white;
  }

  header {
    @apply flex md:p-0 md:grid md:grid-cols-12 items-center;
  }

  .logo {
    @apply col-span-6 h-[3.75em] md:h-[5.75em] p-0;
  }

  nav.menu {
    @apply col-span-6 md:font-medium md:block md:col-span-4 md:justify-items-end;
  }

  /* ul {
    @apply w-full hidden justify-end text-primary md:inline-flex md:gap-3;
  }

  ul.open {
    @apply px-4 bg-white text-2xl absolute top-[7.3%] left-0 h-1/5 flex gap-4 flex-col text-center justify-center md:inline-flex md:gap-3 md:justify-end text-primary;
  } */

  ul.menu-list {
    @apply absolute
      top-[7.3%]
      left-0
      w-full
      bg-white
      text-primary
      text-2xl
      flex
      flex-col
      gap-4
      text-center
      justify-center
      h-1/5

      /* estado cerrado */
      opacity-0
      scale-95
      -translate-y-2
      pointer-events-none

      /* animación */
      transition-all
      duration-300
      ease-out

      md:static
      md:opacity-100
      md:scale-100
      md:translate-y-0
      md:pointer-events-auto
      md:flex-row
      md:justify-end
      md:gap-12
      md:text-xl;
  }

  ul.menu-list.open {
    @apply opacity-100
      scale-100
      translate-y-0
      pointer-events-auto;
  }

  ul.menu-list li {
    @apply cursor-pointer hover:text-secondary;
  }

  .toggle-menu {
    @apply block ml-auto leading-0 text-primary md:hidden;
  }

  .cta {
    @apply col-span-2 justify-self-end hidden md:block;
  }
}
