@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu");
@import "tailwindcss";

body {
  margin: 0 auto;
  max-width: 1280px;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  justify-content: center;
}

@theme {
  /* Breakpoints */
  --breakpoint-desktop: 1080px;
  --breakpoint-tablet: 768px;

  /* Fonts */
  --font-sora: "Sora", sans-serif;
  --font-sourcesans: "Source Sans 3", sans-serif;

  --default-font-family: var(--font-sourcesans);
  --default-mono-font-family: var(--font-sora);

  /* Colors */
  /* Brand Colors */
  --color-primary: #27445d; /* Trust, professionalism */
  --color-secondary: #50c878; /* Support, solutions: Accent/Bright Success */
  --color-black: #353535; /* Main text */
  --color-light: #e7f3fc; /* Light tech background */
  --color-neutral: #e9e9e9; /* Neutral background */
  --color-white: #f0f0f0;

  --color-success-dark: #3fae7f; /* Accent/Dark*/

  /* Gradients */
  --gradient-hero-green-blue: linear-gradient(135deg, #50c878 0%, #3fae7f 10%, #27445d 100%); /* Hero / Featured sections */
  --gradient-hero-blue-green: linear-gradient(90deg, #27445d 15%, #3fae7f 75%, #50c878 95%); /* Hero / Featured sections */
  --gradient-header: linear-gradient(135deg, #50c878 0%, #27445d 80%); /* Header-Footer Gradient */
  --gradient-cta: linear-gradient(90deg, #50c878 0%, #46b87a 100%); /* Primary CTA Buttons */
  --gradient-light: linear-gradient(180deg, #e7f3fc 0%, #ffffff 100%); /* Light section background */

  /* Headings */
  --text-h1: 3.5rem; /* 56px – Hero headline */
  --text-h2: 2.25rem; /* 36px – Section titles */
  --text-h3: 1.5rem; /* 24px – Subsections */

  /* Body */
  --text-body: 1rem; /* 16px – Paragraphs */
  --text-body-lg: 1.125rem; /* 18px – Emphasized text */

  /* UI */
  --text-button: 1rem; /* 16px */
}

@layer base {
  #root {
    @apply desktop:px-0 bg-white shadow-xl/30 rounded-lg;
  }

  header {
    @apply flex px-4 py-2 desktop:px-14 desktop:grid desktop:grid-cols-12 items-center;
  }

  .logo {
    @apply col-span-6 h-[3.75em] desktop:h-[5.75em] p-0 tablet:ml-auto desktop:ml-0;
  }

  nav.menu {
    @apply col-span-6 desktop:font-medium desktop:col-span-4 desktop:justify-items-end;
  }

  ul.menu-list {
    @apply absolute 
    top-[7.3%] 
    left-0 
    w-full 
    bg-white
    text-primary 
    text-body-lg 
    flex 
    flex-col 
    gap-4 
    text-center 
    justify-center 
    h-2/8

    /* estado cerrado */
    opacity-0 
    scale-95 
    -translate-y-2 
    pointer-events-none

    /* animación */
    transition-all 
    duration-300 
    ease-out 
    desktop:static 
    desktop:opacity-100 
    desktop:scale-100 
    desktop:translate-y-0 
    desktop:pointer-events-auto 
    desktop:flex-row desktop:justify-end 
    desktop:gap-12 desktop:text-xl;
  }

  ul.menu-list.open {
    @apply opacity-100 scale-100 translate-y-0 pointer-events-auto font-semibold;
  }

  ul.menu-list li a {
    @apply cursor-pointer transition-colors duration-200 hover:text-secondary active:text-secondary focus-visible:text-secondary;
  }

  .toggle-menu {
    @apply block ml-auto leading-0 text-primary desktop:hidden;
  }

  .button-primary {
    @apply relative
      overflow-hidden
      cursor-pointer
      col-span-2
      hidden
      px-10
      py-2
      rounded-4xl
      text-white
      font-bold
      w-fit
      desktop:block
      transition-all 
      duration-300 
      ease-in-out
      hover:scale-110
      shadow-lg/30;
  }

  .button-primary::before {
    content: "";
    @apply absolute
      inset-0
      bg-(image:--gradient-header)
      transition-all
      duration-300
      ease-in
      z-0;
  }

  .button-primary::after {
    content: "";
    @apply absolute
      inset-0
      bg-(image:--gradient-hero-green-blue)
      opacity-0
      transition-all
      duration-300
      ease-in
      z-0;
  }

  .button-primary:hover::after {
    @apply opacity-65;
  }

  .button-primary > * {
    @apply relative z-10;
  }

  .button-primary.in-menu {
    @apply block place-self-center desktop:hidden px-6 py-2;
  }

  .button-secondary {
    @apply relative
      overflow-hidden
      cursor-pointer
      col-span-2
      px-10
      py-2
      rounded-4xl
      text-white
      font-semibold
      w-fit
      desktop:block
      transition-all 
      duration-300 
      ease-in-out
      hover:scale-110
      shadow-lg/30;
  }

  .button-secondary::before {
    content: "";
    @apply absolute
      inset-0
      bg-(image:--gradient-cta)
      transition-all
      duration-300
      ease-in
      z-0;
  }

  .button-secondary::after {
    content: "";
    @apply absolute
      inset-0
      bg-(image:--gradient-cta)
      opacity-0
      transition-all
      duration-300
      ease-in
      z-0;
  }

  .button-secondary:hover::after {
    @apply opacity-65;
  }

  .button-secondary > * {
    @apply relative z-10;
  }

  .hero {
    @apply flex flex-col h-1/2 justify-center px-4 desktop:px-16 gap-3.5 bg-(image:--gradient-hero-blue-green) text-white;
  }

  .hero-slogan {
    @apply text-2xl font-extrabold;
  }

  h1.hero-header {
    @apply text-5xl font-sora;
  }
}
