@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=alternate_email,archive,book_ribbon,build,call,forum,handshake,map,map_pin_heart,menu,partner_exchange,payments,print,support_agent,verified_user,wifi");

@import "tailwindcss";

/* Uncoment to go content centered */
/* body {
  margin: 0 auto;
  max-width: 1280px;
} */

@theme {
  /* General Grid   */
  --web-grid: auto 1fr auto;

  /* Breakpoints */
  --breakpoint-desktop: 1080px;
  --breakpoint-tablet: 768px;

  /* Fonts */
  --font-sora: "Sora", sans-serif;
  --font-sourcesans: "Source Sans 3", sans-serif;

  --default-font-family: var(--font-sourcesans);
  --default-mono-font-family: var(--font-sora);

  /* Colors */
  /* Brand Colors */
  --color-primary: #27445d; /* Trust, professionalism */
  --color-secondary: #50c878; /* Support, solutions: Accent/Bright Success */
  --color-secondary-dark: #3fae7f; /* Accent/Dark Success*/
  --color-black: #353535; /* Main text */
  --color-light: #e7f3fc; /* Light tech background */
  --color-neutral: #e9e9e9; /* Neutral background */
  --color-white: #fff;

  /* Gradients */
  --gradient-hero-green-blue: linear-gradient(135deg, #50c878 0%, #3fae7f 10%, #27445d 100%); /* Hero / Featured sections */
  --gradient-hero-blue-green: linear-gradient(90deg, #27445d 15%, #3fae7f 75%, #50c878 95%); /* Hero / Featured sections */
  --gradient-hero-blue-green-75-oppacy: linear-gradient(100deg, #27445d 10%, #3fae7fb3 75%, #50c878bf 95%); /* Hero / Featured sections */
  --gradient-header: linear-gradient(135deg, #50c878 0%, #27445d 80%); /* Header-Footer Gradient */
  --gradient-cta: linear-gradient(90deg, #50c878 0%, #46b87a 100%); /* Primary CTA Buttons */
  --gradient-light: linear-gradient(180deg, #e7f3fc 0%, #ffffff 100%); /* Light section background */

  /* Headings */
  --text-h1: 3.5rem; /* 56px – Hero headline */
  --text-h2: 2.25rem; /* 36px – Section titles */
  --text-h3: 1.5rem; /* 24px – Subsections */

  /* Body */
  --text-body: 1rem; /* 16px – Paragraphs */
  --text-body-lg: 1.125rem; /* 18px – Emphasized text */

  /* UI */
  --text-button: 1rem; /* 16px */

  /* Spacing & Layout Utility Tokens */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 2rem; /* 32px */
  --spacing-lg: 4rem; /* 64px */
  --section-padding: 5rem 1rem;
  --container-width: 1200px;
  --radius-md: 12px;
  --radius-sm: 6px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

@layer base {
  #root {
    @apply h-dvh grid grid-rows-[auto_1fr_auto] desktop:px-0 text-primary bg-white shadow-xl/30 rounded-lg;
  }

  h2 {
    @apply text-h2 font-bold;
  }

  h3 {
    @apply text-h3 font-semibold;
  }

  p {
    @apply text-lg;
  }

  header {
    @apply flex px-4 py-2 desktop:px-14 desktop:grid desktop:grid-cols-12 items-center;
  }

  .logo {
    @apply col-span-6 h-[3.75em] desktop:h-[5.75em] p-0 tablet:ml-auto desktop:ml-0;
  }

  nav.menu {
    @apply col-span-6 desktop:font-medium desktop:col-span-4 desktop:justify-items-end;
  }

  ul.menu-list {
    @apply absolute top-[7.3%] left-0 w-full bg-white text-primary text-body-lg flex flex-col gap-4 text-center justify-center h-2/8
    /* estado cerrado */
    opacity-0 scale-95 -translate-y-2 pointer-events-none
    /* animación */
    transition-all duration-300 ease-out desktop:static desktop:opacity-100 desktop:scale-100 desktop:translate-y-0 desktop:pointer-events-auto desktop:flex-row desktop:justify-end desktop:gap-12 desktop:text-xl;
  }

  ul.menu-list.open {
    @apply opacity-100 scale-100 translate-y-0 pointer-events-auto font-semibold;
  }

  ul.menu-list li a {
    @apply cursor-pointer transition-colors duration-200 hover:text-secondary active:text-secondary focus-visible:text-secondary;
  }

  .toggle-menu {
    @apply block ml-auto leading-0 text-primary desktop:hidden;
  }

  .button-primary {
    @apply relative overflow-hidden cursor-pointer col-span-2 hidden px-10 py-2 rounded-4xl text-white font-bold w-fit desktop:block transition-all duration-300 ease-in-out hover:scale-110 shadow-md/30;
  }

  .button-primary::before {
    content: "";
    @apply absolute inset-0 bg-(image:--gradient-header) transition-all duration-300 ease-in z-0;
  }

  .button-primary::after {
    content: "";
    @apply absolute inset-0 bg-(image:--gradient-hero-green-blue) opacity-0 transition-all duration-300 ease-in z-0;
  }

  .button-primary:hover::after {
    @apply opacity-65;
  }

  .button-primary > * {
    @apply relative z-10;
  }

  .button-primary.in-menu {
    @apply block place-self-center desktop:hidden px-6 py-2;
  }

  .button-secondary {
    @apply relative overflow-hidden cursor-pointer col-span-2 px-10 py-2 rounded-4xl text-white font-semibold w-fit desktop:block transition-all duration-300 ease-in-out hover:scale-110 shadow-md/30;
  }

  .button-secondary::before {
    content: "";
    @apply absolute inset-0 bg-(image:--gradient-cta) transition-all duration-300 ease-in z-0;
  }

  .button-secondary::after {
    content: "";
    @apply absolute inset-0 bg-(image:--gradient-cta) opacity-0 transition-all duration-300 ease-in z-0;
  }

  .button-secondary:hover::after {
    @apply opacity-65;
  }

  .button-secondary > * {
    @apply relative z-10;
  }

  .hero {
    background-image: var(--gradient-hero-blue-green-75-oppacy), url("./assets/images/tech-support-pc.png");
    background-size: cover;
    background-position: center top;
  }

  .hero {
    @apply min-h-[70dvh] flex flex-col justify-center px-4 text-white desktop:px-16;
  }

  .hero-slogan {
    @apply text-2xl font-extrabold;
  }

  h1.hero-header {
    @apply text-5xl font-sora;
  }

  .hero p {
    @apply mb-4;
  }

  /* --- SERVICES SECTION --- */
  .services {
    @apply flex flex-col items-center bg-light p-(--section-padding);
    .button-primary {
      @apply block;
    }
  }

  .section-header {
    @apply m-auto text-center max-w-175 mb-12 text-primary;
  }

  .services-grid {
    @apply grid px-4 tablet:px-8 desktop:px-12 gap-6 mb-8 tablet:min-h-96 tablet:grid-cols-2 desktop:grid-cols-3;
  }

  .service-card {
    @apply bg-white min-h-80 p-8 rounded-md shadow-xl transition-transform duration-300 ease-linear border border-light text-primary;
  }

  .service-card:hover {
    @apply -translate-y-1.5;
  }

  .service-icon {
    @apply w-[50px] h-[50px] rounded-full bg-light flex items-center justify-center mb-8 text-secondary;
  }

  .why-section {
    @apply p-(--section-padding) flex flex-col text-primary;
  }

  .why-grid {
    @apply grid px-10 tablet:px-8 desktop:px-12 gap-14;
  }

  .why-card {
    @apply flex justify-evenly gap-8;

    &:nth-child(even) {
      @apply flex-row-reverse;
    }

    h3 {
      @apply text-secondary-dark font-semibold;
    }
  }

  .why-card img {
    @apply hidden tablet:block tablet:w-1/2 tablet:rounded-md tablet:shadow-md;
  }

  .contact {
    @apply bg-neutral p-(--section-padding);
  }

  .contact-grid {
    @apply flex gap-8 desktop:flex-col flex-col-reverse desktop:grid px-4 tablet:px-4 desktop:px-12 desktop:grid-cols-2;
  }

  .contact-info {
    @apply flex flex-col gap-4;
  }

  .contact-info ul {
    @apply flex flex-col gap-1.5;
  }

  .contact-info ul li,
  .contact-disclaimer {
    @apply flex align-middle gap-3 text-lg;
  }

  .contact-info span {
    @apply text-secondary-dark;
  }

  em.serving-areas {
    @apply text-secondary;
  }

  .contact-form {
    /* @apply flex flex-col gap-4; */

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;

    & > :nth-child(n + 5) {
      grid-column: 1/-1;
    }

    input {
      @apply bg-white border-white text-primary;
    }

    input,
    select,
    textarea {
      @apply text-primary rounded-md bg-white focus:border-secondary active:border-secondary p-2 desktop:p-3 outline-0 focus:border-2 focus:border-solid;
    }

    textarea {
      @apply resize-none h-32;
    }
  }
}
